@media screen and (min-width: 480px){
        body {
              background-color: black;
              color: white;
             }
        h1 {
            color: brown;
            font-weight: bolder;
            text-align: center;
           }
}
@media screen and (min-width:720px){

       body {
             background-color: burlywood;
             color: black;
             font-family: sans-serif;
            }
       h2 { 
           text-align: center;  
           color: blue;  
          }
       img {
            width: 500px;
            height: 750px;
            float: right;
            border-radius: 10px;
           } 
        .side-bar{
                  float: left;
                  font-style: italic;
                  font-family: monospace;
                 }
        a {
           text-decoration: none;
          } 
        .important {
                    font-family: serif;
        }

}