@media screen and  (min-width: 480px){
    body {
          background-color: chocolate;
          color: black;
         }
    a {
       color: blue;
       font-family: serif;
       font-weight: bolder;
    }
}